<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-use.model="com.honda.aem.core.models.SearchClaimsModel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
<sly data-sly-call="${clientLib.css @ categories='honda.transactions'}"/>
    <div class="cmp-search-claims"
         id="${model.id}"
         data-cmp-is="transactions"
         data-search-options="${model.searchOptionsJson}"
         data-sly-test.hasConfig="${model.id}">

        <div class="cmp-search-claims__header">
            <h2 class="cmp-search-claims__title">Transaction Status</h2>
        </div>

        

        
			<div class="cmp-search-claims__header">
         <!-- change: added class: filter_text filter_radio_btns-->
				<h2 class="cmp-search-claims__title filter_text">Filterd By</h2>
			</div>
            <div class="cmp-search-claims__form-row filter_radio_btns">
                <div class="cmp-search-claims__form-group">
                    <label for="${model.id}-searchValue" class="cmp-search-claims__form-label">All</label>
                    <input type="radio" id="all" name="filterTns" class="cmp-search-claims__form-control"
                           value="all">
                </div>
				<div class="cmp-search-claims__form-group">
                    <label for="${model.id}-searchValue" class="cmp-search-claims__form-label">Sales</label>
                    <input type="radio" id="sales" name="filterTns" class="cmp-search-claims__form-control"
                           value="searchValue">
                </div>
				<div class="cmp-search-claims__form-group">
                    <label for="${model.id}-searchValue" class="cmp-search-claims__form-label">CPO</label>
                    <input type="radio" id="cpo" name="filterTns" class="cmp-search-claims__form-control"
                           value="cpo">
                </div>
				<div class="cmp-search-claims__form-group">
                    <label for="${model.id}-searchValue" class="cmp-search-claims__form-label">Service</label>
                    <input type="radio" id="service" name="filterTns" class="cmp-search-claims__form-control"
                           value="service">
                </div>
				<div class="cmp-search-claims__form-group">
                    <label for="${model.id}-searchValue" class="cmp-search-claims__form-label">Parts</label>
                    <input type="radio" id="parts" name="filterTns" class="cmp-search-claims__form-control"
                           value="parts">                   
                </div>				
				<div class="cmp-search-claims__form-group">
                    <label for="${model.id}-searchValue" class="cmp-search-claims__form-label">HFS</label>
                    <input type="radio" id="hfs" name="filterTns" class="cmp-search-claims__form-control"
                           value="hfs">
                </div>
				<div class="cmp-search-claims__form-group">
                    <label for="${model.id}-searchValue" class="cmp-search-claims__form-label">Misc</label>
                    <input type="radio" id="misc" name="filterTns" class="cmp-search-claims__form-control"
                           value="misc">
                </div>             
            </div>
  
        

        <!-- Debug Console (visible only in author mode or if explicitly enabled) -->
        <div class="cmp-search-claims__console" data-sly-test="${model.showDebugConsole}"></div>
                  
          <!-- Toolbar -->
          <div class="toolbar ">
            <div class="toolbar-group">
              <div class="checkbox-wrapper">
                <input type="checkbox" id="select-all" class="checkbox">
                <label for="select-all" class="checkbox-label">Select All</label>
              </div>
			  <div class="checkbox-wrapper">
                <label for="select-all" class="checkbox-label">Clear All</label>
              </div>
              <div class="checkbox-wrapper">
                <label for="select-all" class="checkbox-label">Retention Period</label>
              </div>
			  <div class="filter_select_btns">
              <button class="btn btn-outline btn-sm" style="display: flex; align-items: center; gap: 0.25rem;">
                
				<svg class="icon" style="width: 1rem; height: 1rem;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" stroke="currentColor">
					<path d="M39.387,21.471H32.29V11.199c0-0.553-0.447-1-1-1H17.484c-0.553,0-1,0.447-1,1v10.271H9.387c-0.553,0-1,0.447-1,1V35.45
				c0,0.553,0.447,1,1,1h6.894v3.565c0,0.553,0.447,1,1,1h13.806c0.553,0,1-0.447,1-1V36.45h7.301c0.553,0,1-0.447,1-1V22.471
				C40.387,21.918,39.939,21.471,39.387,21.471z M18.484,12.199H30.29v9.271H18.484V12.199z M30.086,39.016H18.28v-6.329h11.806V39.016
				z M38.387,34.45h-6.301v-2.764c0-0.553-0.447-1-1-1H17.28c-0.553,0-1,0.447-1,1v2.764h-5.894V23.471h6.894
				c0.068,0.014,0.131,0.041,0.203,0.041H31.29c0.072,0,0.136-0.027,0.203-0.041h6.893V34.45z"/>
				</svg>
                Print Selected
              </button>
              
              <button class="btn btn-outline btn-sm" style="display: flex; align-items: center; gap: 0.25rem;">
                <svg class="icon spin-on-hover" style="width: 1rem; height: 1rem;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                </svg>
                Refresh
              </button>
			   <button class="btn btn-outline btn-sm" style="display: flex; align-items: center; gap: 0.25rem;">
                <svg class="icon" style="width: 1rem; height: 1rem;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
                Delete Selected
              </button>
			  </div>
            </div>
          </div>
          
          <!-- Table -->
          <div class="table-container">
            <table class="table" id="tns-table">
              <thead>
                <tr>
                  <th style="width: 3rem;" class="no-sort">
                    <input type="checkbox" class="checkbox">
                  </th>
				  <th >Reference <svg id="0" class="icon" style="width: 1rem; height: 1rem;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
						<path d="M11.1924 5.65685C11.5829 5.26633 11.5829 4.63316 11.1924 4.24264L8.36397 1.41421C8.30576 1.356 8.24485 1.30212 8.18165 1.25259C7.50286 0.720577 6.55947 0.689024 5.84929 1.15793C5.73839 1.23115 5.63317 1.31658 5.53554 1.41421L2.70711 4.24264C2.31658 4.63316 2.31658 5.26633 2.70711 5.65685C3.09763 6.04738 3.7308 6.04738 4.12132 5.65685L6.00003 3.77814V18C6.00003 18.5523 6.44775 19 7.00003 19C7.55232 19 8.00003 18.5523 8.00003 18V3.8787L9.77818 5.65685C10.1687 6.04737 10.8019 6.04737 11.1924 5.65685Z" fill="#0F0F0F"/>
						<path d="M12.7071 18.3432C12.3166 18.7337 12.3166 19.3668 12.7071 19.7574L15.5355 22.5858C15.6332 22.6834 15.7384 22.7689 15.8493 22.8421C16.6256 23.3546 17.6805 23.2692 18.364 22.5858L21.1924 19.7574C21.5829 19.3668 21.5829 18.7337 21.1924 18.3432C20.8019 17.9526 20.1687 17.9526 19.7782 18.3432L18 20.1213L18 6C18 5.44771 17.5523 5 17 5C16.4477 5 16 5.44771 16 6L16 20.2218L14.1213 18.3432C13.7308 17.9526 13.0976 17.9526 12.7071 18.3432Z" fill="#0F0F0F"/>
						</svg>
					</th>
					<th>Time (Pacific) <svg id="1" class="icon" style="width: 1rem; height: 1rem;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
						<path d="M11.1924 5.65685C11.5829 5.26633 11.5829 4.63316 11.1924 4.24264L8.36397 1.41421C8.30576 1.356 8.24485 1.30212 8.18165 1.25259C7.50286 0.720577 6.55947 0.689024 5.84929 1.15793C5.73839 1.23115 5.63317 1.31658 5.53554 1.41421L2.70711 4.24264C2.31658 4.63316 2.31658 5.26633 2.70711 5.65685C3.09763 6.04738 3.7308 6.04738 4.12132 5.65685L6.00003 3.77814V18C6.00003 18.5523 6.44775 19 7.00003 19C7.55232 19 8.00003 18.5523 8.00003 18V3.8787L9.77818 5.65685C10.1687 6.04737 10.8019 6.04737 11.1924 5.65685Z" fill="#0F0F0F"/>
						<path d="M12.7071 18.3432C12.3166 18.7337 12.3166 19.3668 12.7071 19.7574L15.5355 22.5858C15.6332 22.6834 15.7384 22.7689 15.8493 22.8421C16.6256 23.3546 17.6805 23.2692 18.364 22.5858L21.1924 19.7574C21.5829 19.3668 21.5829 18.7337 21.1924 18.3432C20.8019 17.9526 20.1687 17.9526 19.7782 18.3432L18 20.1213L18 6C18 5.44771 17.5523 5 17 5C16.4477 5 16 5.44771 16 6L16 20.2218L14.1213 18.3432C13.7308 17.9526 13.0976 17.9526 12.7071 18.3432Z" fill="#0F0F0F"/>
						</svg></th>
					<th>Transaction <svg id="2" class="icon" style="width: 1rem; height: 1rem;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
						<path d="M11.1924 5.65685C11.5829 5.26633 11.5829 4.63316 11.1924 4.24264L8.36397 1.41421C8.30576 1.356 8.24485 1.30212 8.18165 1.25259C7.50286 0.720577 6.55947 0.689024 5.84929 1.15793C5.73839 1.23115 5.63317 1.31658 5.53554 1.41421L2.70711 4.24264C2.31658 4.63316 2.31658 5.26633 2.70711 5.65685C3.09763 6.04738 3.7308 6.04738 4.12132 5.65685L6.00003 3.77814V18C6.00003 18.5523 6.44775 19 7.00003 19C7.55232 19 8.00003 18.5523 8.00003 18V3.8787L9.77818 5.65685C10.1687 6.04737 10.8019 6.04737 11.1924 5.65685Z" fill="#0F0F0F"/>
						<path d="M12.7071 18.3432C12.3166 18.7337 12.3166 19.3668 12.7071 19.7574L15.5355 22.5858C15.6332 22.6834 15.7384 22.7689 15.8493 22.8421C16.6256 23.3546 17.6805 23.2692 18.364 22.5858L21.1924 19.7574C21.5829 19.3668 21.5829 18.7337 21.1924 18.3432C20.8019 17.9526 20.1687 17.9526 19.7782 18.3432L18 20.1213L18 6C18 5.44771 17.5523 5 17 5C16.4477 5 16 5.44771 16 6L16 20.2218L14.1213 18.3432C13.7308 17.9526 13.0976 17.9526 12.7071 18.3432Z" fill="#0F0F0F"/>
						</svg></th>
					<th>Status <svg id="3" class="icon" style="width: 1rem; height: 1rem;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
						<path d="M11.1924 5.65685C11.5829 5.26633 11.5829 4.63316 11.1924 4.24264L8.36397 1.41421C8.30576 1.356 8.24485 1.30212 8.18165 1.25259C7.50286 0.720577 6.55947 0.689024 5.84929 1.15793C5.73839 1.23115 5.63317 1.31658 5.53554 1.41421L2.70711 4.24264C2.31658 4.63316 2.31658 5.26633 2.70711 5.65685C3.09763 6.04738 3.7308 6.04738 4.12132 5.65685L6.00003 3.77814V18C6.00003 18.5523 6.44775 19 7.00003 19C7.55232 19 8.00003 18.5523 8.00003 18V3.8787L9.77818 5.65685C10.1687 6.04737 10.8019 6.04737 11.1924 5.65685Z" fill="#0F0F0F"/>
						<path d="M12.7071 18.3432C12.3166 18.7337 12.3166 19.3668 12.7071 19.7574L15.5355 22.5858C15.6332 22.6834 15.7384 22.7689 15.8493 22.8421C16.6256 23.3546 17.6805 23.2692 18.364 22.5858L21.1924 19.7574C21.5829 19.3668 21.5829 18.7337 21.1924 18.3432C20.8019 17.9526 20.1687 17.9526 19.7782 18.3432L18 20.1213L18 6C18 5.44771 17.5523 5 17 5C16.4477 5 16 5.44771 16 6L16 20.2218L14.1213 18.3432C13.7308 17.9526 13.0976 17.9526 12.7071 18.3432Z" fill="#0F0F0F"/>
						</svg>
					</th>
                  </tr>   
              </thead>
              <tbody>
                <tr>
					<td data-filter="sales"><input type="checkbox" class="checkbox"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);">TPV0000</span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Order Change Real-Time Swap</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>               
                <tr>
					<td data-filter="misc"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">CBV00001</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/02/2025 15:34</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Inventory Management</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="sales"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">CBV00000</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Inventory Management</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="sales"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">TPV0002</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Inventory Management</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</td>                                   
                </tr>
				<tr>
					<td data-filter="hfs"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">TPV00003</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Inventory Management</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="cpo"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);">TPV0006</span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Retail Sales Enquiry</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="sales"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">TPV0001</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">On-order Trade Request</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">Recd. by AHM</td>                                   
                </tr>
				<tr>
					<td data-filter="cpo"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);">TPV0005</span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Retail Sales Enquiry</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="cpo"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">TPV0017</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Inventory Management</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="hfs"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">JSV0003</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">On-order Trade Request</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">Recd. by AHM</td>                                   
                </tr>
				<tr>
					<td data-filter="cpo"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">TPV0000</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">On-order Trade Request</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">Recd. by AHM</td>                                   
                </tr>
				<tr>
					<td data-filter="sales"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">CBV00001</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Order Change Real-Time Swap</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="sales"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">CBV00001</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Inventory Management</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
				<tr>
					<td data-filter="service"><input type="checkbox" class="checkbox service"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);">TPV0000</span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Order Change Real-Time Swap</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">AHM Reply</td>                                   
                </tr>
				<tr>
					<td data-filter="service"><input type="checkbox" class="checkbox service"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);">TPV0000</span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Order Change Real-Time Swap</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">AHM Reply</td>                                   
                </tr>
				<tr>
					<td data-filter="service"><input type="checkbox" class="checkbox service"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);">TPV0000</span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Order Change Real-Time Swap</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">AHM Reply</td>                                   
                </tr>
				<tr>
					<td data-filter="service"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">JSV0003</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">On-order Trade Request</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">Recd. by AHM</td>                                   
                </tr>
				<tr>
					<td data-filter="parts"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">TPV0000</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">On-order Trade Request</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);">Recd. by AHM</td>                                   
                </tr>
				<tr>
					<td data-filter="parts"><input type="checkbox" class="checkbox sales"></td>
					<td><span style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">CBV00001</a></span></td>                              
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">05/09/2025 10:25</div></td>          
					<td><div style="font-size: 0.75rem; color: var(--gray-500);">Order Change Real-Time Swap</div></td>                    
					<td style="font-size: 0.75rem; color: var(--gray-500);"><a href="#">AHM Reply</a></td>                                   
                </tr>
              </tbody>
            </table>
          </div>
                    
          
    </div>
<sly data-sly-call="${clientLib.js @ categories='honda.transactions'}"/>  
</sly>
