<div class="hero">
    <div class="hero__image">
      <img src="${properties.heroImage @ context='uri'}" alt="${properties.altText}" />
    </div>
  
    <div class="hero__updates">
      <p class="hero__date" id="todayDate">Today : </p>
      <ul>
        <li><a href="${properties.update1Link}">✅ ${properties.update1Text}</a></li>
        <li><a href="${properties.update2Link}">📢 ${properties.update2Text}</a></li>
        <li><a href="${properties.update3Link}">🛠️ ${properties.update3Text}</a></li>
      </ul>
    </div>
  </div>
  