<header class="header">
  <sly data-sly-use.model="com.honda.aem.core.models.GlobalNavigationModel" />
  <div class="component-container vpad-0">
    <div class="component-offset">
      <div class="header-container">
        <div class="brand">
          <a href="${properties.linkURL}.html">
            <img src="${properties.logo}" width="80" height="50" alt="Honda Logo">
          </a>
        </div>
        
          
		<div class="searchcontainer">
		  <form class="menu-search-form navbar-form-nav" action="/content/honda/us/en/search.html" method="GET" role="search">
			<a href="/content/honda/us/en/search.html"><img src="${properties.searchIcon}" alt="Search bar">
			  <div class="searchtext">Search</div>
			</a>
			<input class="globalnav-search" type="hidden" name="plug_cleared" value="Search cleared">
			<input class="globalnav-search" type="hidden" name="plug_summary"
			  value="There are currently {maxLength} options starting with {searchTerm}">
			<input class="globalnav-search" type="hidden" name="plug_noresult"
			  value="No results available for keyword {searchTerm}">
			<input class="globalnav-search" type="hidden" name="plug_resultbelow"
			  value="{searchTerm}, options display below as you type">
			<input class="globalnav-search" type="hidden" name="plug_of" value="of">
			<input class="globalnav-search" type="hidden" name="label" value="Search">
			<input class="globalnav-search" type="hidden" name="search_url"
			  value="/content/honda/us/en/search.html">
		  </form>
		</div>

		<div class="country">
		  <a href="#" aria-label="UK">
			<span>
			  <span class="locationFlag">
				<img src="${properties.cIcon}" title="UK" alt="uk">
			  </span>
			</span>
		  </a>
		</div>
          
        
        <div class="user-actions">
          <div class="notification-icon">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
            <span class="notification-badge"></span>
          </div>

          <div class="notification-icon">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
            <span class="notification-badge"></span>
          </div>

          <div style="width: 1px; height: 1.5rem; background-color: var(--gray-300);"></div>

          <div class="user-profile" id="userProfile">
            <div class="avatar">TM</div>
            <div class="user-info">
              <div class="user-name">Tech Manager</div>
              <div class="user-role">Downtown Honda</div>
            </div>
            <svg class="icon" style="width: 1rem; height: 1rem;" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
            <div class="dropdown-menu hidden" id="userDropdown">
              <ul>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="/bin/honda/logout">Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>