
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='honda.searchbar'}"></sly>
    <div class="search-container">
        <div class="search-trigger ripple" id="searchTrigger" style="position: absolute;margin-top: 1rem;">
            <i class="fas fa-search"></i>
        </div>
        
        <div class="search-expanded" id="searchExpanded">
            <input type="text" class="search-input" placeholder="Search anything..." id="searchInput">
            <button class="search-mic" id="searchMic" title="Voice search">
                <i class="fas fa-microphone"></i>
            </button>
            <button class="search-close" id="searchClose" title="Close search">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</sly>
  